@font-face{
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css?family=Nunito');
}

@font-face{
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css?family=Rubik');
}

.first-page{
    background: url("Asset/Info\ Ui/200ppi/Asset\ 2bg.jpg") center center no-repeat;
    background-size: cover,contain;
    padding-top: 90px;
    padding-bottom: 50px;
}
.first-page .opening{
    padding-top:100px;
}

.first-page .person{
    max-width: 650px;
    max-height:535px;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
h2{
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 12pt;
}

@media(max-width: 500px){
    .first-page .person{
        max-width: 300px;
        height: auto;
    }
    body{
        background: none;
    }
    .first-page{
        background: #FFC866 center center no-repeat;
        background-size: cover,contain;
        padding-top :10px;
        margin:none;
        border: none;
        padding:10px;
    }