@font-face{
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css?family=Nunito');
}

@font-face{
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css?family=Rubik');
}

html{
    scroll-behavior: smooth;
    padding:0px;
    margin:0px;
}

.first-page{
    background: url("Asset/Info\ Ui/200ppi/Asset\ 2bg.jpg") center center no-repeat;
    background-size: cover,contain;
    padding-top: 90px;
    padding-bottom: 50px;
}
.first-page .opening{
    padding-top:100px;
}

.first-page .person{
    max-width: 650px;
    max-height:535px;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
h2,h3{
    font-family: 'Nunito',sans-serif;
    font-weight: bold;
}
p{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 14pt;
}
.active{
    background-color: #FFA300;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16pt;
    margin:0px;
}

.fadein-slide{
    animation: fadein-slide;
    animation-duration: 0.5s;
}
.fadein{
    animation: fadein;
    animation-duration: 0.5s;
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#part5 img,#part6 img{
    max-width: 500px;
}

@keyframes fadein-slide{
    from {opacity: 0;
    position: relative;
    left:100%;}
    to{opacity: 1;
    position: relative;
    left:0px;}
}

@media(max-width: 500px){
    .first-page .person{
        max-width: 300px;
        height: auto;
    }
    .fadein-slide{
        animation: fadein;
        animation-duration: 0.5s;
    }
    body{
        background: none;
    }
    .first-page{
        background: #FFC866 center center no-repeat;
        background-size: cover,contain;
        padding-top :10px;
        margin:none;
        border: none;
        padding:10px;
    }

    .swap{
        max-width: 350px;
    }

    .legenda{
        max-width:300px;
    }

    .legenda-col{
        margin-top: 5%;
    }

    p{
        font-size: 12pt;
    }

    #part2 img{
        max-width:300px;
    }
    #part5 img,#part6 img{
        max-width: 300px;
    }
}