@font-face{
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css?family=Nunito');
}

@font-face{
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css?family=Rubik');
}

