@font-face{
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css?family=Nunito');
}

@font-face{
    font-family: 'Rubik';
    src: url('https://fonts.googleapis.com/css?family=Rubik');
}

html{
    position: relative;
    min-height: 100%;
}

body{
    background: url("Asset/Landing/200ppi/Asset\ 4bg\ 4.png") fixed no-repeat;
    background-size: 100% 37%;
    background-position: bottom;
    font-family: 'Rubik', sans-serif;
}

h1{
    font-weight: bold;
}
h2{
    font-weight: normal;
}
.navbar{
    transition: 0.5s ease-in-out;
}

.navbar-brand{
    font-size: 26pt;
    font-weight: bold;
    display:block;
}

.list-group-item h2{
    font-weight: bold;
}


.list-group-item{
    border:none;
}
.icon{
    max-height: 300px;
    overflow: hidden;
    padding: 0px;
}

.icon img{
    max-width: 300px;
    border:none;
    margin:0px;
    padding:0px;
    overflow: hidden;
}

.list-group{
    padding: 0px;
    margin: 0px;
    max-width: 300px;
    border-radius: 5px;
    background-color: white;
    transition:0.5s ease-in-out;
}
#landing button{
    border:none;
    width:auto;
    height: auto;
    background: none;
}

#landing a{
    font-style: none;
    color: black;
    text-decoration: none;
}

#landing ul{
    animation: down;
    animation-duration: 0.5s;
    position: relative;
    bottom:0px;
}

#landing .list-group-item{
    background: none;
}

#landing #akademik-a:hover{
    position: relative;
    color:white;
    animation: up;
    animation-duration: 0.5s;
    bottom:20px;
    background-color: #F88886;
    border-radius: 10px;
    overflow: hidden;
}

#landing #kampus-a:hover{
    position: relative;
    color:white;
    animation: up;
    animation-duration: 0.5s;
    bottom:20px;
    background-color: #FFA300;
    border-radius: 10px;
    overflow: hidden;
}

#landing #fasilkom-a:hover{
    position: relative;
    color:white;
    animation: up;
    animation-duration: 0.5s;
    bottom:20px;
    background-color: #5DA2D5;
    border-radius: 10px;
    overflow: hidden;
}
#landing #informasi-a:hover{
    position: relative;
    color:white;
    animation: up;
    animation-duration: 0.5s;
    bottom:20px;
    background-color: #39BC6E;
    border-radius: 10px;
    overflow: hidden;
}

body{
    margin-bottom: 60px;
}

@keyframes up{
    from{
        bottom:0px;
    }
    to{
        bottom:20px;
    }
}

@keyframes down{
    from{
        bottom:20px;
    }
    to{
        bottom:0px;
    }
}

@media(max-width: 900px){
    body{
        background: #F7F7F7;
        background-size: cover;
    }

    #landing .container-fluid h2{
        font-size:16pt;
    }

    #landing .container-fluid{
        max-width: 450px;
    }
}

@media(max-width:500px){
    #landing .container-fluid{
        max-width: 100%;
    }

    #landing ul,#landing ul:hover{
        animation: none;
    }
}