.active{
    background-color: #007AD5;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12pt;
    margin:0px;
}   
button:focus,button:active{
    outline: none !important;
}
html{
    scroll-behavior: smooth;
    padding:0px;
    margin:0px;
}
h1{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.first-page{
    background: url('../Asset\ Info\ Fasilkom/BG-FirstPage.jpg') center center no-repeat;
    background-size: 100% 100%;
    padding-top: 90px;
    padding-bottom: 50px;
}

.first-page .row{
    padding:50px;
}


h2,h3,h4{
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
}
h5{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
}

p{
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 14pt;
}

#first-page .person{
    max-width: 500px;
}
.fadein{
    animation: fadein;
    animation-duration: 0.5s;
}
.opening{
    padding-top: 100px;
}

#part1 h1{
    margin-top: 30px;
}

.app-cont{
    padding-bottom: 50px;
    border-bottom: #c4c4c4 solid 1px;
}

.prev,.next{
    transition: all 0.3s;
}

.prev:hover{
    transform: translate3d(-15px,0,0);
}
.next:hover{
    transform: translate3d(15px,0,0);
}

#menu-part1{
    overflow:auto;
white-space: nowrap;
align-content: center;
justify-content: center;
box-align: center;
margin: 0px;
}

#menu-part1 .menu{
    display: inline-block;
    flex-wrap: row;
    text-align: center;
    cursor: pointer;
    padding:10px;
    transition:0.5s;
}
#bo-container{
    margin-top: 0px;
    display: inline-table;
    overflow-x: hidden;
}


.buttonfx{
    background: transparent;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
    border-radius: 10px;
    padding:10px;
}

.buttonfx:before,
.buttonfx:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background:  #007AD5; /* onhover background color */
  z-index: -1;
  transform: translate3D(0,-100%,0); /* move elements above button so they don't appear initially */
  transition: all .5s;
}

.buttonfx:before{
  background: white; /* button default background color */
  z-index: -2;
  transform: translate3D(0,0,0);
}

.buttonfx:hover{
    color: white;
}

.buttonfx:hover:after{
  transform: translate3D(0,0,0);
  transition: all .5s;
}

  .slideleft:after{
    top: 0;
    z-index: -1;
    transform: translate3D(-101%,0,0);
  }
  
  .slideleft:hover:after{
    transform: translate3D(0,0,0);
    transition: all .5s;
  }
  .newbi{
    max-width: 100%;
}


.btn-active{
    background: #007AD5;
    border-radius: 10px;
    color: white;
}

.swaped,#map-container{
    box-shadow: 2.5px 2.5px 20px grey;
    border-radius: 10px;
}

button{
    background: none;
    border: none;
}
.acc-panel {
    border: #007AD5 solid 2px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.acc-cont{
    transition: 0.3s all;
}

.accordion {
    background-color: #6ab2e7;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 85%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    align-content: center;
    border-radius: 0px;
}

.accordion:after{
    content: '\002B';
    float: right;
    font-size: 18px;
}

.acc-active::after{
    content: "\2212";
    float:right;
    font-size: 18px;
}

.accordion:hover,.acc-active{
    background-color:#007AD5;
    color:white;
}


.navigation{
    justify-content: center;
    align-content: center;
}

.part5-middle{
    border-left: #6ab2e7 solid 1px;
    border-right: #6ab2e7 solid 1px;
}

.slider-cont{
    position: relative;
    transform: translate3d(14px,0,0);
}

.slider{
    max-width: 90%;
    height: 280px;
}

#slide-prev,#slide-next{
    cursor: pointer;
    position: absolute;
    width: 40px;
    transition: 0.6s all;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#slide-prev{
    left:45px;
}
#slide-prev:hover{
    transform: translate3d(-10px,0,0);
}
#slide-next{
    right:45px;    
}
#slide-next:hover{
    transform: translate3d(10px,0,0);
}


@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media(max-width:500px){
    #part1 .dummy::before{
        content: "Slide Left";
        font-size: 24px;
    }
    .prev:hover{
        transform: translate3d(0,0,0);
    }
    .next:hover{
        transform: translate3d(0,0,0);
    }
    .newbi{
        max-width: 95%;
    }
    .prev,.next,.lantai{
        flex: 1;
    }
    #first-page .person{
        max-width: 250px;
        margin-top: 10px;
    }
    #menu-part1 .menu{
        height: 80px;
    }
    #part1 h1{
        margin-top: 20px;
    }
    h2{
        font-size: 20pt;
    }
    .opening{
        padding-top: 80px;
    }
    .first-page .row{
        padding:0px;
    }
    .img-button{
        margin-top: 8%;
        max-height: 70px;
    }

    .first-page{
        padding-top: 0px;
    }
    p{
        font-size: 12pt;
    }
    .part5-middle{
        border:none;
    }
    .slider{
        margin-bottom: 100px;
    }
    .slider-cont{
        transform: translate3d(0px,0,0);
    }
    #slide-prev,#slide-next{
        bottom:0;
        top:83%;
        width: 30px;
    }
    #slide-prev{
        left:30%;
    }
    #slide-next{
        right:30%;
    }
    .slider{
        height: 90%;
    }

}